# Copie para .env no servidor. Nunca envie .env para o GitHub.
SECRET_KEY=
ALLOWED_HOSTS=ti.seudominio.com.br
CSRF_TRUSTED_ORIGINS=https://ti.seudominio.com.br
POSTGRES_DB=gestao_ti
POSTGRES_USER=gestao_ti
POSTGRES_PASSWORD=
